<a href="https://colab.research.google.com/github/landier/sql-interview/blob/main/SQL_tech_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
!wget https://github.com/landier/sql-interview/blob/main/data/chinook.sqlite3

--2024-03-23 12:14:23--  https://github.com/landier/sql-interview/blob/main/data/chinook.sqlite3
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘chinook.sqlite3’

chinook.sqlite3         [ <=>                ] 138.00K  --.-KB/s    in 0.01s

2024-03-23 12:14:24 (13.3 MB/s) - ‘chinook.sqlite3’ saved [141310]

In [69]:
%%sql
SELECT sqlite_version();

   sqlite://
 * sqlite:///sql-interview/data/chinook.db
Done.

[('3.37.2',)]

#Doc
https://colab.research.google.com/github/tdmdal/mma-sql-2021/blob/master/docs/SQL_Intro_Sqlite.ipynb

# Setup

In [ ]:

!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.28)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
!rm -rf sql-interview/
!git clone https://@github.com/landier/sql-interview.git

Cloning into 'sql-interview'...
warning: redirecting to https://github.com/landier/sql-interview.git/
remote: Enumerating objects: 34, done.
remote: Counting objects: 100% (34/34), done.
remote: Compressing objects: 100% (28/28), done.
remote: Total 34 (delta 8), reused 13 (delta 1), pack-reused 0
Receiving objects: 100% (34/34), 2.90 MiB | 34.52 MiB/s, done.
Resolving deltas: 100% (8/8), done.

In [ ]:
%reload_ext sql

test

In [ ]:
%sql sqlite:///sql-interview/data/chinook.db

#Exercice

In [ ]:
# List of tables
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

   sqlite://
 * sqlite:///sql-interview/data/chinook.db
Done.

[('albums',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',)]

**Question**: What are the top 10 artists with the most albums?

In [ ]:
%%sql
-- Code here

   sqlite://
 * sqlite:///sql-interview/data/chinook.db
Done.

[]

## Answer

In [ ]:
%%sql
SELECT
  ArtistId,
  COUNT(*)
FROM albums
GROUP BY ArtistId
ORDER BY COUNT(*) DESC
LIMIT 10

   sqlite://
 * sqlite:///sql-interview/data/chinook.db
Done.

[(90, 21),
 (22, 14),
 (58, 11),
 (50, 10),
 (150, 10),
 (114, 6),
 (118, 5),
 (21, 4),
 (82, 4),
 (84, 4)]

# Progression

2. GROUP BY
2. MAX
3. DISTINCT A,B
1. JOIN

SUBQUERY